.image-carousel .carousel .control-dots {
    display: none;
}

.image-carousel .carousel.carousel-slider .control-arrow {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #000;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.image-carousel .carousel .control-next.control-arrow {
    right: 14px;
}

.image-carousel .carousel .control-prev.control-arrow {
    left: 14px;
}

.image-carousel .carousel .slide img {
    border-radius: 8px;
}